{
    "extends": "./node_modules/@plone/volto/.eslintrc",
    "settings": {
        "import/resolver": {
            "alias": {
                "extensions": [
                    ".js",
                    ".jsx",
                    ".json"
                ],
                "map": [
                    [
                        "@plone/volto",
                        "@plone/volto/src"
                    ],
                    [
                        "@package",
                        "./src"
                    ],
                    [
                        "volto-base",
                        "./src/develop/volto-base/src"
                    ],
                    [
                        "volto-addons",
                        "./src/develop/volto-addons/src"
                    ],
                    [
                        "volto-embed",
                        "./src/develop/volto-embed/src"
                    ],
                    [
                        "volto-datablocks",
                        "./src/develop/volto-datablocks/src"
                    ],
                    [
                        "volto-plotlycharts",
                        "./src/develop/volto-plotlycharts/src"
                    ]
                ]
            },
            "babel-plugin-root-import": {
                "rootPathSuffix": "src"
            }
        }
    }
}